.DS_Store
*.swp
Library/Application Support/Aquamacs Emacs/scratch buffer
Library/Preferences/Aquamacs Emacs/Recent Files.el
Library/Preferences/Aquamacs Emacs/places.el
Library/Preferences/Aquamacs Emacs/.id
Library/Preferences/Aquamacs Emacs/frame-positions.el
Library/Preferences/Aquamacs Emacs/minibuffer-history.el
Library/Application Support/Aquamacs Emacs/elpa/archives/gnu/archive-contents
Library/Application Support/Aquamacs Emacs/elpa/archives/marmalade/archive-contents
Library/Preferences/Aquamacs Emacs/auto-save-list/**
